---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
I have been as teaching assistant for the computer science courses for almost three years, including both undergraduate courses and graduate courses. While most of my responsibility is grading and helping students on assignments in office hours, I also provided assistant for some practical workshop held during the class.

My philosophy of teaching is to create an engaging environment to encourage student to utilize class time effectively to collaborate and understand the class materials. I was surprised in an environment setup workshop that there a fair amount of students lack of essential skills to set up their working environment by basic commands. Most of the students invest their time after the class or take much longer time to understand material after class, so use class time efficiently and effectively to master the knowledge is important. I believe an engaging environment, such as interactive workshop, that students can communicate with classmates or instructors, to finish basic tasks from a course, can increase students engagement and provide a wonderful opportunity to familiar with class material by practical practice in classroom.

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
